@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    font-family: 'Overpass', sans-serif;
}

.container{
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 40px;
}

.star{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
    padding: 8% 0% 0% 18%;
}

.circleStar{
    background-color: hsla(216, 12%, 54%, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.circleStar>img{
    width: 22px;
    height: 20px;
}

.ask{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
    padding: 7% 0% 0% 18%;
}

.ask>p{
    font-size: 35px;
    color: hsl(0, 0%, 100%);
}

.text{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
    padding: 4% 0% 0% 18%;
}

.text>p{
    font-size: 20px;
    color: hsl(217, 12%, 63%);
    width: 80%;
    line-height: 30px;
}

.assessment{
    display: flex;
    align-items: center;
    gap: 6%;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 7% 0% 6% 0%;
}

.circle{
    background-color: hsla(216, 12%, 54%, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(217, 12%, 63%);
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.circle:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.circle:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.button{
    background-color: hsl(25, 97%, 53%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    letter-spacing: 3px;
    width: 85%;
    height: 5.5vh;
    border-radius: 30px;
    border: none;
}

.button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.containerThanks{
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 40px;
}

.hidden{
    display: none;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.image>img{
    width: 180px;
}

.result{
    background-color: hsla(216, 12%, 54%, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 43%;
    height: 3.5vh;
}

#rating{
    padding: 0px 4px 0px 4px;
}


.result>p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: hsl(25, 97%, 53%);
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7% 0% 3% 0%;
}

.title>h2{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

.textThanks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textThanks>p{
    width: 85%;
    text-align: center;
    line-height: 30px;
    font-size: 19px;
    color: hsl(217, 12%, 63%);
}






